#round_button {
  border-radius:40%;
  font-size:300%;
}

#round_button:hover {
    transform:rotate(180deg);
}


#dog{
  color: purple; background-color: yellow;
  
  
}


#dog:hover{
  background-color: red;
}

body {
  display: flex;
  flex-direction:column;
justify-content:              first baseline;

align-items: flex-start;



}

#alex_button {
  color:grey;
  font-size:200%;
  font-style: italic;
  background-color:aqua;
}

#alex_button:hover{
  background-color:blueviolet;
  
}

#alex_button:active {
  background-color:chocolate;
}














































































































































































































































































































